// Colors
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%); // text color in Graphic Design section
$dark-blue: hsl(198, 62%, 26%); // text color in Photography section
$dark-moderate-cyan: hsl(168, 34%, 41%); // text in footer

$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%); // text color in paragraphs
$white: hsl(0, 0%, 100%);

$cream: hsl(26, 100, 99%);
$light-green: hsl(167, 44, 70%);

// Breakpoints
$breakpoint-up-1: 37.5em; // 600px
$breakpoint-up-2: 64em; // 1024px

// Page Margins
$margin-mobile: 6.1%; // 23px for 375px
$margin-tablet: 9%;
$margin-desktop: 11.49%; // 165px for 1440px